<header>
  <nav class="primary" id="{{ page.layout }}">
    <ul>
      <li>
        <a href="{{ site.baseurl }}/" class="logomark" target="_self">
          <img class="avatar"
            srcset="https://www.gravatar.com/avatar/{{ site.gravatar }}?s=300&d=blank 2x"
            src="https://www.gravatar.com/avatar/{{ site.gravatar }}?s=150&d=blank"
            alt="avojak Avatar"
          />
        </a>
      </li>
      <li><a href="{{ site.baseurl }}/about" target="_self">About</a></li>
      <li><a href="{{ site.baseurl }}/projects" target="_self">Projects</a></li>
      <li><a href="https://blog.avojak.com/">Blog</a></li>
    </ul>

    <ul>
      <li><a href="https://blog.avojak.com/feed.xml" title="Blog RSS Feed">
        {% include svg/rss-square.svg %}
      </a></li>

      <li><a href="https://twitter.com/{{ site.twitter }}" target="_blank" rel="noopener" title="Twitter">
        {% include svg/twitter.svg %}
      </a></li>

      <li><a href="https://github.com/{{ site.github }}" target="_blank" rel="noopener" title="GitHub">
        {% include svg/github.svg %}
      </a></li>

      <li><a href="https://stackoverflow.com/users/{{ site.stackoverflow }}" target="_blank" rel="noopener" title="Stack Overflow">
        {% include svg/stack-overflow.svg %}
      </a></li>

      <li><a href="https://www.linkedin.com/in/{{ site.linkedin }}" target="_blank" rel="noopener" title="LinkedIn">
        {% include svg/linkedin.svg %}
      </a></li>

      <li><a href="mailto:{{ site.email }}" target="_blank" rel="noopener" title="Email">
        {% include svg/email.svg %}
      </a></li>
    </ul>
  </nav>
</header>
